<div id="fav_show">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
        <div class="panel-heading">
          <h4><%= @fav.title %></h4>
        </div>
          <div class="panel-body" id="fav_image">
            <%= image_tag @fav.image.url%>
          </div>

      <p><div cla ss="description"><%= @fav.description %></div></p>

      <div class="user">
        <p>Submitted by <%= @fav.user.email %></p>
      </div>

    <div class="panel-footer">
        <div class="row">
          <div class="col-md-6" class="btn-group">
            <% if user_signed_in? %>

            <div class="btn btn-default pull-right">
              <%= link_to 'Edit', edit_fav_path %>
            </div>

            <div class="btn btn-default pull-right">
              <%= link_to 'Delete', fav_path, method: :delete, data: { Confirm: "Are you sure?" }%>
            </div>

            <div class="btn btn-default pull-right">
              <%= link_to Like_fav_path (@fav), method: :put do %>
              <span class="glyphicon glyphicon-heart"><%= @fav.get_upvotes.size %></span>
                <% end %>
              <% end %>

            </div>
          </div>
      </div>
    </div>

</div>
</div>
